/*
 * My craptastic CSS. Suck it.
 */

.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* This is needed if we add a navbar */
@media all and (min-width:980px) {
  #main {
    padding-top: 40px;
  }
}

/* http://www.w3schools.com/css/css_list.asp */
/*
ul.fancy {
  list-style-type: square;
  list-style-image: url('/images/list-style1.png');
}
*/

ul.posts {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul.posts li {
  margin-bottom: 8px;
}

.postdate, .posttitle {
  font-weight: bold;
}

ul.fancy {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul.fancy li {
  font-weight: bold;
}

ul.fancy ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul.fancy ul li {
  background-image: url('/images/list-style1.png');
  background-repeat: no-repeat;
  background-position: 0px 1px; 
  padding-left: 22px; 
  font-weight: normal;
}

div.navbar {
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p.author {
  display: inline;
}

.page-header {
  margin-bottom: 8px;
}

#titlelink {
  color: black;
}

#mailto {
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 0;
}

#mailto a {
  background: url('/images/aws-icon.png') no-repeat;
  padding: 2px 4px 2px 20px;
  text-decoration: none;
}

#bio {
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
}

#google-share, #twitter-share, #facebook-share, #linkedin-share {
  float: right;
}

#facebook-share {
}

.clearboth {
  clear: both;
}


