<div id="bio" class="well rounded">
  <a href="/images/nate-wiger-200x200.jpg" title="One good looking chap"><img
      src="/images/nate-wiger-200x200.jpg" alt="Nate Wiger's handsome mug" class="rounded" id="mugshot"></a>

  {% include social_squares.html %}

  <ul class="unstyled">
    <li><b>Whoami</b></li>
    <ul>
      <li><a href="http://aws.amazon.com/">AWS</a> Principal Solutions Architect for Gaming</li>
      <li>Ex-head of Online Game Tech at Sony <a href="http://blog.us.playstation.com/">PlayStation</a></li>
      <li>Built Datacenters and Deployment Apps at Sun (<a href="/images/sunrip.jpg">RIP</a>)</li>
    </ul>
    <li><b>Projects</b></li>
    <ul>
      <li><a href="http://github.com/nateware/redis-objects">redis-objects</a> - Ruby class API for Redis</li>
      <li><a href="http://formbuilder.org">CGI::FormBuilder</a> - Perl module for form-based apps</li>
      <li><a href="http://beerlabels.com">BeerLabels.com</a> - a decade-long microbrew quest</li>
    </ul>
    <li><b>Game Credits</b></li>
    <ul>
      <li>LittleBigPlanet Karting (game, <a href="https://karting.lbp.me/">community</a>)</li>
      <li>ModNation Racers PS3, PSP, VITA (game, <a href="http://community.modnation.com">community</a>)</li>
      <li>MLB The Show (2008-2012) (game, <a href="https://theshownation.com/">community</a>)</li>
      <li>Sports Champions, Bowling, Pinball (game)</li>
      <li>SOCOM 3, FTB, FTB2 (scalability)</li>
    </ul>
  </ul>
</div>

