<ul id="follow-icons" class="no-svg clearfix">
  <li><a href="http://twitter.com/nateware" target="_blank" class="fc-webicon twitter" title="Follow @nateware">Twitter</a></li>
  <li><a href="http://github.com/nateware" target="_blank" class="fc-webicon github" title="Fork @nateware on Github">Github</a></li>
  <li><a href="http://www.linkedin.com/in/natewiger" target="_blank" class="fc-webicon linkedin" title="Send me a LinkedIn invite">LinkedIn</a></li>
  <li><a href="https://plus.google.com/117413834584028516124" target="_blank" class="fc-webicon googleplus" title="Add me on Google+">Google+</a></li>
  <li><a href="mailto:" id="mailto" class="fc-webicon amazon" title="Email me at Amazon">Email</a></li>
  <li><a href="/feed.xml" target="_blank" class="fc-webicon rss" title="RSS blog feed">RSS</a></li>
</ul>
