<div class="row" id="topbar">
  <div class="span6" id="blogname">
    <a class="brand" href="/">Nate Wiger vs Dull Tech Blogs</a>
    <em>Clone a repo, grab a beer, and let's have some fun</em>
  </div>
  <div class="span6" id="searchbox">
    <!-- Place this tag where you want the search box to render -->
    <gcse:searchbox></gcse:searchbox>
  </div>
</div>
<div id="searchresults">
  <!-- Place this tag where you want the search results to render -->
  <gcse:searchresults></gcse:searchresults> 
</div>

