---
layout: post
title: Haml Test
date: 2012-10-01
---

=part(:hnews_head)

%p
  When tha shit goes down
%b You better be ready

:maruku
  Some plain text
  ---------------
  *You know what I mean*


